<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head lang="en">
    <title>Employees</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css" />
    <!-- bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- bootstrap end -->
</head>
<body>
<div class="container">
    <h1>Employees</h1>
</div>
<div class="container panel panel-default">
    <table id="preview" class="table table-striped table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Salary (EUR)</th>
            <th>Contract type</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Address</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee,iter : ${employees}">
            <td th:text="${iter.index + 1}">#</td>
            <td th:text="${employee.firstName + employee.lastName}">name</td>
            <td th:text="${employee.salary}">salary</td>
            <td th:text="${employee.contractType}">contract type</td>
            <td th:text="${employee.email}">email</td>
            <td th:text="${employee.mobile}">mobile</td>
            <td>
                <span th:text="${employee.street}">street</span>,
                <span th:text="${employee.city}">city</span>,
                <span th:text="${employee.country}">country</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>